* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --color_second: #f0f6f4;
   --color_third: #55643f;
   --color_prime: #375f22;
   --color-hover: none;
   --col-green-1: rgb(255, 251, 255);
   --col-green-light: #C0D4B9;
   --font-big: 'Libre Baskerville', serif;
   --font-sm: 'Merriweather', serif;
   --font-logo: 'Sofia';
}

body,
html {
   overflow-x: hidden;
   position: relative;
}

@media screen and (max-width: 567px) {

   .nav-main {
      padding: 0 5%;
   }

   .nav-small {
      left: 20%;
      width: 100%;
   }

   .nav-small ul {
      width: 20rem;
   }

   .nav-link {
      padding: 3% 3% 6% 3%;
   }

   .page1 {
      padding: 50% 5% 0;
   }

   .img-circles-box {
      top: 15%;
   }

   .circles {
      width: 90%;
   }

   .title-sec {
      margin-top: 5%;
      margin-bottom: 0%;
   }

   .h1-lg {
      font-size: 2.5em;
   }

   .hero-img-box {
      top: 7%;
   }

   /*.box {
      margin-top: 9em;
   }

   .box-big {
      display: none;
   }*/

   /*.box-sm {
      display: block;
   }*/

   div.part1 {
      width:100%;
   }
   .h1-part1 {
      width: 100%;
      transform: translateY(170px);
      margin-bottom: 1em;
      opacity: 0;
   }

   @keyframes move-anim {
      0% {
         transform: translateY(170px);
         opacity: 0;
      }
      70% {
         opacity: 1;
      }
      100% {
         transform: translateY(0px);
         opacity: 1;
      }
   }

   .h1-part2 {
      transform: translateY(90px);
      margin-bottom: 3em;
      opacity: 0;
   }

   @keyframes move-anim-2 {
      0% {
         transform: translateY(90px);
         opacity: 0;
      }
      70% {
         opacity: 1;
      }
      100% {
         transform: translateY(0px);
         opacity: 1;
      }
   }

   .h1-1,
   .h1-2,
   .h1-3 {
      padding-right: 0;
      letter-spacing: 0;
      word-spacing: 1px;
   }

   .h1-3 {
      font-size: 2.7em;
   }

   h1, 
   h2,
   h3 {
      font-size: 1em;
      padding: 0 0 2em;
      font-family: 'Libre Baskerville', serif;
   }

   h2 {
      font-size: 1.5em;
      padding-bottom: 15%;
      text-align: center;
      transform: translateY(-90px);
      opacity: 0;
   }

   @keyframes move-anim-3 {
      0% {
         transform: translateY(-90px);
         opacity: 0;
      }
      70% {
         opacity: 1;
      }
      100% {
         transform: translateY(0px);
         opacity: 1;
      }
   }

   .hero {
      height: 15em;
   }

   .intro_text {
      font-size: 1.5em;
      /* text-transform: uppercase; */
      font-family: var(--main-font);
      color: var(--color_prime);
      /* width: 100%; */
      /* margin-left: auto; */
      padding: 30% 0 30% 10%;
   }

   .intro_p1,
   .intro_p2,
   .intro_p3,
   .intro_p4 {
      padding-left: 0;
   }

   .page2 {
      padding: 15% 5%;
   }

   .page2-sec1,  
   .page2-sec3 {
      flex-direction: column-reverse;
      margin-bottom: 30%;
   }

   .page2-sec2,
   .page2-sec4 {
      flex-direction: column;
      margin-bottom: 30%;
   }

   .page2-sec1-text, 
   .page2-sec2-text, 
   .page2-sec3-text,
   .page2-sec4-text {
      width: 100%;
   }

   .page2-sec1 .sec-img-box,
   .page2-sec3 .sec-img-box {
      width: 70%;
      margin-left: auto;
      margin-bottom: 3em;
   }

   .page2-sec2 .sec-img-box,
   .page2-sec4 .sec-img-box {
      width: 70%;
      margin-right: auto;
      margin-bottom: 3em;
   }

   .page3 {
      padding: 0 15% 15%;
   }

   .page3-text {
      font-size: 1.2em;
      width: 100%;
   }

   footer {
      padding: 5em 3em 1.5em;
   }

   .part1 {
      margin-bottom: 5em;
   }

   .bg-screen {
      display: none;
   }

   .sm-screen {
      display: block;
   }

   .map_box {
      top: 0%;
   }

   .map_box .sm-screen {
      border-radius: 10px;
   }

   .sign-box p {
      font-size: 0.8em;
   }

}







@media screen and (min-width: 567px) and (max-width: 768px) {

   .nav-small {
      left: 30%;
      width: 90%;
   }

   .page1 {
      padding: 20% 10% 0;
   }

   .img-circles-box {
      top: 15%;
   }

   .circles {
      width: 75%;
   }

   .box {
      margin-top: 12em;
   }

   .title-sec {
      margin-top: 20%;
      margin-bottom: 15%;
   }

   /*.h1-1,
   .h1-2 {
      font-size: 1.5em;
   }

   .h1-3 {
      font-size: 2.2em;
   }

   .h1-part1 {
      margin-bottom: 0;
   }

   .h1-part2 {
      transform: translateY(100px);
      margin-bottom: 2em;
   }*/

   .h1-lg {
      font-size: 2.5em;
   }

   .hero-img-box {
      top: 5%;
   }

   /*h2 {
      padding: 0 0% 1.5em;
   }

   h2 {
      padding-bottom: 15%;
      text-align: center;
      transform: translateY(-100px);
   }

   @keyframes move-anim-3 {
      from {
         transform: translateY(-100px);
      }
      to {
         transform: translateY(0px);
      }
   }*/

   .intro_text {
      font-size: 1.5em;
      padding: 10% 0 15% 10%;
   }

   .intro_p1,
   .intro_p2,
   .intro_p3,
   .intro_p4 {
      padding-left: 0;
   }

   .page2-sec1, 
   .page2-sec2, 
   .page2-sec3 {
      /*display: flex;
      justify-content: space-between;*/
      margin-bottom: 20%;
   }

   .page2-sec4 {
      margin-bottom: 0%;
   }

   /*.page2-sec1-text, 
   .page2-sec2-text, 
   .page2-sec3-text {
      width: 55%;
   }*/

   /*.sec-img-box {
      width: 40%;
      height: 50%;
   }*/

   .sec-h {
      font-size: 1.5em;
   }

   .sec-p {
      font-size: 1em;
   }

   .page3-text {
      font-size: 1.1em;
   }

   .sub-boxes-h {
      font-size: 1.5em;
   }

   .sub-boxes-p {
      font-size: 1.1em;
   }

   .page3-box {
      width: 10em;
      height: 15em;
   }

   .page3-box-txt {
      font-size: 1.1em;
   }

   .page4 {
      padding: 10% 10%;
   }

   .page4-h {
      font-size: 1.5em;
   }

   .card-body {
      font-size: 1em;
   }

   footer {
      padding: 5em 10em 3em;
   }

   .part1 {
      margin-bottom: 5em;
   }

}





@media screen and (min-width: 769px) and (max-width: 1024px) {

   .nav-small {
      left: 50%;
      width: 50%;
   }

   .page1 {
      padding: 25% 10% 0;
   }

   .img-circles-box {
      top: 15%;
   }

   .circles {
      width: 80%;
   }

   .title-sec {
      margin-top: 15%;
      margin-bottom: 20%;
   }

   .h1-lg {
      font-size: 3em;
   }

   .hero-img-box {
      margin-left: 55%;
      top: 5%;
   }

   .intro_text {
      padding: 10% 0 7% 10%;
   }

   .sec-h {
      padding-bottom: 1em;
      font-size: 2em;
   }

   .page2-sec1, 
   .page2-sec2, 
   .page2-sec3 {
      margin-bottom: 25%;
   }

   .page3-text {
      font-size: 1.3em;
   }

   .sub-boxes-h {
      font-size: 2em;
   }

   .sub-boxes-p {
      font-size: 1.3em;
   }

   .page3-boxes {
      justify-content: space-around;
   }

   /*.page3-box {
      width: 24em;
   }*/

   footer {
      padding: 5em 10em 3em;
   }

   .part1 {
      margin-bottom: 5em;
   }

}
